body {
    background-color: #0E0D0D;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    height: 100vh;
}

div {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    height: 100%;
}

#header {
    height: 20%;
    margin-top: 32px;
    margin-left: 48px;
}


#back-img {
    width: 100px;
    padding-left: 2px;
    animation: 0.9s ease-out 0s 1 slideInFromLeft;
}

#title-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-top: 16px;
    margin-bottom: 8px;
    animation: 1.0s ease-out 0s 1 slideInFromLeft;
}

#logo {
    width: 5%;
}

#title {
    /* margin-left: 16px; */
    font-size: 30px;
    font-weight: bold;
}

#app-link {
    margin-top: 8px;
    text-decoration: none;
    color: #3498DB;
    animation: 1.1s ease-out 0s 1 slideInFromRight;
}

#descrip {
    margin-top: 0px;
    width: 60%;
    color: #938D8D;
    font-weight: normal;
    font-size: 20px;
    animation: 1.1s ease-out 0s 1 slideInFromRight;
}

#sub-title {
    /* text-decoration: underline; */
    margin-top: 24px;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 300;
}

#mockup-body {
    margin-left: 32px;
    animation: 1.1s ease-out 0s 1 slideInFromRight;
}

#mockup {
    width: 90%;
}

#main {
    display: flex;
    flex-direction: row;
    margin-left: 48px;
    animation: 1.2s ease-out 0s 1 bottomToTop;
}

.library-stack {
    width: 30%;
}

.task-stack {
    margin-left: 48px;
    margin-top: 0px;
    margin-bottom: 48px;
    animation: 1.2s ease-out 0s 1 bottomToTop;
}


#down-arrow {
    margin-left: 136px;
    height: 95px;
    margin-top: 60%;
}

#list {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 16px;
}

#tasks-list {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 16px;
}

#tasks-list li {
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 300;
    color: #938D8D;
}

#features-list {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 16px;
}

#features-list li {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 300;
    color: #938D8D;
}

#list li {
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 300;
    color: #938D8D;

}

@keyframes move {
    0% {
      margin-top: 50%;
    }
    100% {
        margin-top: 60%;
    }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-500%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(500%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes topToBottom {
    0% {
      transform: translateY(-500%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes bottomToTop {
    0% {
      transform: translateY(500%);
    }
    100% {
      transform: translateY(0);
    }
}
